body {
    background: url("images/background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    margin-bottom: 5%;
}

footer {
    margin-top: 5%;
}