{% extends 'base.html' %}

{% block base %}
<div class="d-flex justify-content-center">
  <form action="{% url "users:login" %}" method="post">
  {% csrf_token %}
  <div class="card text-bg-dark" style="width: 30rem;">
    <div class="card-body text-center">
      Авторизация
    </div>
      {% if form.non_field_errors %}
        {{ form.non_field_errors }}
      {% endif %}
      <div class="card-body">
          <label for="id_username" class="form-label">Имя пользователя</label>
          <input type="username" value="{% if form.username.value %}{{ form.username.value }}{% endif %}" name="username" placeholder="Введите имя" class="form-control" id="id_username" required>
      </div>
      <div class="card-body">
          <label for="id_password" class="form-label">Пароль</label>
          <input type="password" name="password" class="form-control" placeholder="Введите пароль" id="id_password">
      </div>
      <div class="d-flex justify-content-between">
        <div class="card-body">
            <button type="submit" class="btn btn-primary">Войти</button>
        </div>
        <div class="card-body">
            <a class="d-inline" href="#">Забыли пароль?</a>
            <div class="d-inline disabled">|</div>
            <a class="d-inline" href="#">Создать аккаунт</a>
        </div>
      </div>
    </div>
  </form>
</div>
</div>
{% endblock %}