{% extends 'base.html' %}

{% block base %}
<div class="d-flex justify-content-center">
  <form>
  <div class="card text-bg-dark" style="width: 30rem;">
    <div class="card-body text-center">
      Регистрация
    </div>
    <div class="card-body">
      <label for="validationCustom01" class="form-label">Имя</label>
      <input type="text" class="form-control" id="validationCustom01" value="Pollo" required>
    </div>
    <div class="card-body">
      <label for="validationCustom02" class="form-label">Фамилия</label>
      <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
    </div>
    <div class="card-body input-group flex-nowrap mt-1">
      <span class="input-group-text" id="basic-addon1">@</span>
      <div class="form-floating">
        <input type="text" class="form-control" placeholder="Имя пользователя" aria-label="Username" aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="card-body input-group mb-3">
      <p></p>
      <label class="input-group-text" for="inputGroupFile01">Аватар</label>
      <input type="file" class="form-control" id="inputGroupFile01">
    </div>
    <div class="card-body">
      <label for="exampleInputPassword1" class="form-label">Пароль</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="card-body">
      <label for="exampleInputPassword2" class="form-label">Подтвердите пароль</label>
      <input type="password" class="form-control" id="exampleInputPassword2">
    </div>
    <div class="card-body">
      <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
  </div>
  </form>
</div>
{% endblock %}