{% extends 'base.html' %}

{% block base %}
<p>Cras volutpat lacus eros, ac pharetra elit elementum ut. Integer sed purus et magna ullamcorper mollis id id nulla. Curabitur iaculis hendrerit velit, quis eleifend lectus aliquam ut. Nunc rutrum pretium sagittis. Mauris egestas ipsum et quam tincidunt, nec rutrum neque cursus. Aliquam imperdiet, neque ac accumsan commodo, ex ante auctor lacus, id malesuada enim augue id tortor. Quisque nec laoreet odio. Nunc lorem arcu, rhoncus a lorem ut, elementum convallis nibh. Duis dignissim, erat in viverra malesuada, lorem tortor gravida diam, sed feugiat magna diam ut ligula.</p>
{% endblock %}