{% load active_link_tags %}
{% load static %}
{% load goods_tags %}
<nav class="navbar navbar-right navbar-expand-lg bg-body-tertiary sticky-top" data-bs-theme="dark">
  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
    <div class="offcanvas-body">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% active_link 'shop:index' strict=True %}" aria-current="page" href="{% url 'shop:index' %}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% active_link 'shop:about' strict=True %}" href="{% url 'shop:about' %}">О нас</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% active_link 'shop:contact' strict=True %}" href="{% url 'shop:contact' %}">Контакты</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Каталог</a>
          <ul class="dropdown-menu">
            {% tag_categories as categories %}
            {% for category in categories %}
            <li><a class="dropdown-item" href="{% url 'goods:catalog' category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
          </li>
        </li>
      </ul>
      {% if not user.is_authenticated %}
      <a class="navbar-brand">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
      </a>
      {% else %}
        {% if user.image %}
          <a class="navbar-brand">
            <img src="{{ user.image.url }}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
          </a>
        {% else %}
          <a class="navbar-brand">
            <img src="{% static 'users/images/base-image.png' %}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
          </a>
        {% endif %}
      {% endif %}
      <ul class="navbar-nav">
        <li class="nav-item">
          {% if not user.is_authenticated %}
            <a class="nav-link" href="{% url "users:login" %}">Войти</a>
          {% else %}
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Мой профиль
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url "users:profile" %}">Личный кабинет</a></li>
              <li><a class="dropdown-item" href="#">Корзина</a></li>
              <li><a class="dropdown-item" href="{% url "users:logout" %}">Выйти</a></li>
              {% if user.is_admin or user.is_staff %}
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url "admin:index" %}">Админ панель</a></li>
              {% endif %}
            </ul>
            </li>
          {% endif %}
        </li>
      </ul>
      <form class="d-flex w-auto" action="{% url "goods:search" %}" method="get" role="search">
        <input class="form-control me-2" type="search" placeholder="Поиск" name="q" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Поиск</button>
      </form>
    </div>
  </div>
</nav>