{% load active_link_tags %}
<nav class="navbar navbar-right navbar-expand-lg bg-body-tertiary sticky-top" data-bs-theme="dark">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link {% active_link 'index' strict=True %}" aria-current="page" href="{% url 'index' %}">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% active_link 'about' strict=True %}" href="{% url 'about' %}">О сайте</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% active_link 'contact' strict=True %}" href="{% url 'contact' %}">Контакты</a>
      </li>
    </ul>
    <a class="navbar-brand" href="#">
      <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
    </a>
    <form class="d-flex w-auto" role="search">
      <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search"/>
      <button class="btn btn-outline-success" type="submit">Поиск</button>
    </form>
  </div>
</nav>